.how-it-works{
  width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 500px
}

.how-it-works h2{
  text-align: center;
}
.cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  align-items: center;
  height: 100%;

}

.card {
  height: 100%;
  display: block;
  width: 33.3%;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  border-radius: 8px;
  text-align: center;
}

.card img {
  margin: 15px;
  height: 80px;
  object-fit: cover;
  border: solid 3px gray;
  border-radius: 8px;
  padding: 5px;
}

.card p {
  margin: 18px;
  color: gray;
}
